<!-- card query -->
<div class="form-container">

  <form 
    class="form"
    (submit)="onFindCards(query)"
     #query="ngForm">

    <mat-form-field class="example-full-width">
      
      <mat-label>Find Card</mat-label>
      <input 
        matInput
        type="text" 
        name="pokemon"
        placeholder="Card Name"
        ngModel>

    </mat-form-field>

    <button 
    mat-raised-button 
    color="primary"
    type="submit"
    style="display:none">Search</button>  
  </form>

</div>
<mat-divider style="padding-bottom: 14px;"></mat-divider>

<!-- Filler until search is performed -->
<div *ngIf="pokemon == ''" class="filler-content">
  <h1>This is filler</h1>
  <p></p>
  <h2>Add some helpful text</h2>
</div>

<!-- Store card data -->
<div class="content">
  <h1 *ngIf="cards.length > 0">Results for {{ pokemon }}:</h1>
  <div fxLayout="row wrap" fxLayoutGap="32px grid">
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let card of cards">
      <mat-card class="pk-card">
        <mat-card-header>
          <mat-card-title>{{ card.pokemon }}</mat-card-title>
          <mat-card-subtitle>{{ card.types[0] }}</mat-card-subtitle>
        </mat-card-header>
        <img *ngIf="card.img != ''" class="inner-card" mat-card-image src={{card.img}} alt="Photo of {{card.pokemon}} Card">
        <mat-card-actions>
          <button mat-mini-fab color="accent" class="add-btn">
            <mat-icon>add</mat-icon>
          </button>
          <div fxFlex></div>
          <button class="card-info-btn" mat-button>INFO</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>