.form-container
{
  padding-top: 42px;
  display: block;
  text-align: center;
  width: 100%;
  margin: auto;
  padding-inline: 10%;
  padding-bottom: 42px;
  background-color: rgb(228, 228, 228);
}

mat-form-field {
  width: 100%;
}

.form {
  font-size: 20px;
}

.pk-card {
  max-width: 175px;
}

.inner-card {
  border-radius: 2%;
  margin-bottom: auto;
}

.pk-text {
  font-size: 10px;
}

.card-info-button {
  padding-right: 2px;
}

.card-title {
  font-size: 16px;
}

.text-oneline ::ng-deep * {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content {
  padding-inline: 10%;
}

.content > mat-card {
  margin-bottom: 16px;
}

.column-label {
  margin-right: 40px;
  font-size: 1rem;
}

.filler-content {
  display: block;
  text-align: center;
  width: 100%;
  margin: auto;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 1px -1px rgb(129, 129, 129), 
              0 1px 1px 0 rgb(158, 158, 158), 
              0 1px 3px 0 rgb(189, 189, 189);
}

.card-ava{
  background-color: red;
  background-size: cover;
}

.imgs {
  height: 50px;
  width: 50px;
}